
<div class="employee-list-container" [ngStyle]="{'background-color': '#1DA1F2', 'color': '#fff'}">
  <div class="header">
    <h2 class="mx-2">Employee List</h2>
  </div>
</div>
<div class="container mt-5">
  <button class="btn btn-primary mb-3 position-fixed bottom-right" [ngStyle]="{'background-color': '#1DA1F2', 'color': '#fff'}" (click)="openEmployeeForm()">
    <i class="fa-solid fa-plus"></i>
  </button>

  <div *ngIf="deleteMessage" class="alert alert-delete">
    {{ deleteMessage }}
  </div>

  <div *ngIf="employees.length === 0" class="no-data-container">
    <img src="assets/no-data-found.png" alt="No employee records found" class="img-fluid">
  </div>

  <div class="container mt-5">
    <div *ngIf="currentEmployees.length > 0">
      <div class="section-header">
        <h2 class="primary">Current employees</h2>
      </div>
      <div class="list-group mb-4">
        <div class="list-group-item" *ngFor="let employee of currentEmployees">
          <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{{ employee.name }}</h2>
          </div>
          <p class="mb-1 text-muted">{{ employee.role }}</p>
          <small class="text-muted">From: {{ employee.startDate}}</small>
          <button class="btn btn-danger btn-sm mt-2" (click)="deleteEmployee(employee.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="previousEmployees.length > 0">
      <div class="section-header">
        <h2 class="primary">Previous employees</h2>
      </div>
      <div class="list-group mb-4">
        <div class="list-group-item" *ngFor="let employee of previousEmployees">
          <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{{ employee.name }}</h2>
          </div>
          <p class="mb-1 text-muted">{{ employee.role }}</p>
          <small class="text-muted">
            {{ employee.startDate }} - {{ employee.endDate }}
          </small>
          <button class="btn btn-danger btn-sm mt-2" (click)="deleteEmployee(employee.id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
